*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
}

/* Modal Styles */
.modal-container{
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    z-index: 200;
    top: 20%;
    width: 80%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-out, transform 0.5s ease-out;
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .modal__actions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

#product-overview{
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("img/freedom.jpg") left 10% bottom 80%/cover no-repeat border-box, #ff1b68;
    width: 100%;
    height: 33vh;
    min-height: 15rem;
    position: relative;
}

#product-overview h1{
    color: #fff;
    font-family: 'Anton', sans-serif;
    position: absolute;
    left: 3%;
    bottom: 5%;
    font-size: 1.6rem;
}

#plans{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__list{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title{
    color: #2ddf5c;
}

.plan{
    background-color: #d5ffdc;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan--highlighted{
    background-color: #19b84c;
    color: #fff;
}

.plan__badge{
    background-color: #fff;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0 ,0, 0.5);
    border-radius: 8px;
    max-width: 240px;
}

.plan__title{
    color:#0e4f1f;
    margin: 0.5rem 0;
}

.plan__price{
    color: #858585;
    margin: 0.5rem 0;
}

.plan__subtitle{
    text-align: center;
    margin: 0.5rem 0;
}

.plan button{
    margin-top: 0.75rem;
}

.plan--highlighted .plan__title{
    color: #fff;
}

.plan--highlighted .plan__price{
    color: #0e4f1f;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__feature{
    margin: 0.5rem 0;
}

#key-features{
    background-color: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#key-features .section-title{
    color: #fff;
    margin: 2rem;
    text-align: center;
}

.key-feature__list{
    list-style: none;
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-feature{
    width: 100%;
}

.key-feature__image{
    background-color: #ffcede;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #424242;
    margin: 0 auto;
    padding: 1.5em;
}

.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.25em;
}

  /* media querries*/
@media(min-width: 481px){
    .modal {
        width: 60%;
    }

    #product-overview{
        background-position: left 10% bottom 70%;
    }

    .plan__list{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .plan{
        width: 45%;
        margin: 0.5rem;
    }

    .key-feature__list{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    .key-feature{
        width: 50%;
    }

    .key-feature__description{
        font-size: 1.1rem;
    }
}

@media(min-width: 769px){

    .modal {
        top: 20%;
        max-width: 450px;
        margin: 0 auto;
    }
    
    #product-overview {
        background-position: left 10% bottom 75%;
    }

    .plan__list{
        align-items: center;
    }

    .plan{
        width: 30%;
        max-width: 330px;
    }

    .plan--highlighted{
        height: 30rem;
        box-shadow: 2px 2px 2px 2px rgba(0, 0 ,0, 0.5);
    }

    .key-feature{
        width: 33%;
        max-width: 330px;
    }
}

@media(min-width: 1201px){
    #product-overview {
        background-position: left 10% bottom 75%;
        min-height: 25rem;
    }
}