*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
}

.backdrop{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2ddf5c;
    padding: 0.25rem 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.main-header__logo{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: 700; 
    font-size: 1.5rem;
    display: inline-block;
    height: 2rem;
}

.main-header__logo img{
    height: 100%;
}

.main-header div,.main-nav{
    display: inline-block;
}

.main-nav{
    display: flex;
    align-items: center;
}

.main-nav__items{
    margin: 0;
    padding: 0;   
}

.main-nav__item{
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a{
    text-decoration: none;
    color: #0e4f1f;
    font-weight: 900;
    padding: 0.2rem 0;
}

.main-nav__item a:hover{
    color: #fff;
    border-bottom: 5px solid #fff;
}

.main-nav__item--cta a{
    color: #fff;
    background-color: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover{
    color: #ff1b68;
    background-color: #fff;
    border: none;
}

.button{
    background-color: #0e4f1f;
    color: #fff;
    font: inherit;
    border: 1.5px solid #0e4f1f; 
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: 700;
}

.button:hover{
    cursor: pointer;
    color:#0e4f1f;
    background-color: #fff;
}

.button:focus{
    outline: none;
}

.main-footer{
    background-color: #000;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link{
    display: inline-block;
    margin: 0 1rem;
}

.main-footer__link a{
    text-decoration: none;
    color: #fff;
}

.main-footer__link a:hover{
    color: #ccc;
}